html {
    font-size: 22px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-bg-img {
    background-image: url('/img/main-lounge-bg-img.jpg');
}

.contact-bg-img {
    background-image: url('/img/contact-bg-img.jpg');
    height: auto;
}

.desk-bg-img {
    background-image: url('/img/desk-bg-img.jpg');
}

.office-bg-img {
    background-image: url('/img/office-bg-img.jpg');
}

.open-bg-img {
    background-image: url('/img/open-seating-bg-img.jpg');
}

.tour-bg-img {
    background-image:  url('/img/tour-bg-img.jpg');
}

.logo-main-color {
    filter: invert(98%) sepia(93%) saturate(7484%) hue-rotate(323deg) brightness(100%) contrast(90%);
}

.footer-logo-color {
    filter: invert(36%) sepia(40%) saturate(673%) hue-rotate(167deg) brightness(98%) contrast(100%);
}

.cta-bg-img {
    background-image: url('/img/cta-bg-img.jpg');
    height: auto;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;   
}

.dark-link {
    color: #326A9D;
}

.light-link {
    color: whitesmoke;
}

.big-text {
    font-size: 1.5em;
}

.btn-outline-blue {
    color: #326A9D;
    border-color: #326A9D;
}

.btn-outline-blue:hover {
    color: white;
    background-color: #326A9D;
}

.quaternary-bg-color {
    background-color: #7AA5CC;
}

.tertiary-bg-color {
    background-color: #FFDA66;
}

.secondary-bg-color {
    background-color: #326A9D;
}

.main-bg-color {
    background-color: #FFE490;
}

/* .main-color {
    color: #F2C740
} */

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */