.main-bg-img {
    position: absolute;
    top: 0;
    background-image: url('/img/main-lounge-bg-img.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: auto;
}

/* .main-color {
    color: #F2C740
} */

.main-color {
    filter: invert(98%) sepia(93%) saturate(7484%) hue-rotate(323deg) brightness(100%) contrast(90%);
}

#membership {
    margin-top: -41px;
}

.cta-bg-img {
    background-image: url('/img/cta-bg-img.jpg');
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.dark-link {
    color: #212529;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */